
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Merriweather+Sans&family=Montserrat:wght@400;600;700&display=swap');
*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

html{
    color: #222;
    font-family: "Josefin Sans";
    font-size: 19px;
    line-height: 1.5;
}


/* body{
    padding: 2.6rem 3rem;
    background: linear-gradient(to bottom,#FCEBE0,#DFE0DA);
} */

nav{
    height: 80px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
    background: #1b1b1b;
    background: #212224;
}

nav .logo{
    font-size: 30px;
    font-weight: 600;
    color: whitesmoke;
}
nav .clickbtn i{
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
nav ul{
    display: flex;
}

nav ul li{
    margin: 0px 10px;
}

nav ul li a{
    color: whitesmoke;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 4px 10px;
}

nav ul li a:hover{
    color: salmon;
    transition: all 0.3s ease-in;
}

@media (max-width : 1100px) {

    nav .clickbtn i{
        display: block;
    }

    nav ul{
        position: absolute;
        top : 80px;
        left: 0px;
        height: 45vh;
        width: 100%;
        display: block;
        background: #111;
        text-align: center;
        left: -100%;
    }

    #click:checked ~ ul{
        left : 0%;
        transition: all 0.3s ease-in;

    }
    #click:checked ~ .resume{
        position: relative;
        top: 100px;
    }
   
    nav ul li{
        margin-top: 20px;
    }

    nav ul li a{
        font-size: 25px;
        font-weight: 600;
        display: block;
        
    }
    nav ul li a:hover{
        color: cyan;
        color: salmon;
        transition: all 0.3s ease-in;
    }

    

    
}
.resume{
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-gap: 4rem;
    background-color: white;
    padding: 3rem;
}
@media only screen and (max-width : 950px) {
    .resume{
        grid-template-columns: 1fr;
    }
}
/* .navbar{
    margin-top: -2.6rem;
    padding: 1rem;
    background-color: #eee;
    position: fixed;
    right: 3rem;
    left: 3rem;
    
    font-family: "Merriweather Sans",sans-serif;
    font-family: "Montserrat", sans-serif;
   
    font-weight: 600;
}
.navbar ul{
    float: right;
}

.navbar ul li{
    color: teal;
    display: inline-block;
}


.navbar li a:hover {
    color: black;
}

.navbar li a:hover{
    transition: all 0.3s ease-in 0s;
} */

h1{
    font-size: 2rem;
    text-transform: uppercase;
}

h2{
    font-size: 1.2rem;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    padding: 0.65rem 0;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

h3{
    text-transform: uppercase;
    color: salmon;
    font-size: 1rem;
}

p{
    line-height: 1.5;
}

ul{
    list-style: none;
}

.skills li + li{
    margin-top: 0.5rem;
}


section + section{
    margin-top: 2rem;
}

a{
    text-decoration: none;
    color: inherit;
    
}

.profile{
    text-align: center;
}
.profile img{
    border-radius: 900px;
    width: 15rem;
    height: 15rem;
}


.profile p{
    color: #888;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

/* CURRENT WORKING AREA */
.contact-grid .contact-info{
    /* position: relative; */
    /* float: left; */
    text-transform: uppercase;
    margin-left: 17px;
}


.contact-item{
    border-bottom: 1px solid #666;
    margin-bottom: 1rem;
}

.contact-item:first-child{
    margin-top: -1rem;
}

.contact-item{
    padding-bottom: 4px;
}


/* .contact ul{
    margin-top: -2rem; 
}

.contact li{
    text-align: right;
    padding: 0.55rem;
    border-bottom: 1px solid #666;
    text-transform: uppercase;
    color: #888;
} */

.contact{
    font-size: 0.8rem;
}

.contact-item{
    color: teal;
}

.contact-item:hover{
    transition: all 0.5s ease-in 0s;
    color: inherit;
}
.contact-grid .mobile{
    font-size: 18px;
}
/* li + li {
    margin-top: 0.5rem;
} */

.social-group{
    width: 400px;
    border-radius: 10px;
    background-color: #eee;

}
.social-item{
    color: teal;
    width: 100%;
    padding: 9px;
    display: block;
}
.social-item>a{
    margin-left: 1rem;
}

.social-item:hover{
    color: inherit;
}


.skills > ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.event{
    display: grid;
    grid-template-columns: 0.03fr 1fr;
}

.content{
    margin-bottom: 1.5rem;
}

.content{
    border-left: 2px solid #888;
    padding-left: 1rem;
    margin-left: 1rem;
}

.content > h3+p{
    margin-bottom: 0.8rem;
}
.CGPA{
    color : #777;
}
.content > h3+p{
    color : #666;
}

.social ul li a:hover{
    transition: all 0.2s ease-in 0s;
}
.social ul li{
    color: #444;
    
}
/* .social ul a{
    color: black;
} */

.achievements ul{
    list-style: disc;
    margin-left: 10px;
}

.achievements li{
    margin-bottom: 1rem;
}

.achievements span{
    color: #666;
}

.certificates li{
    list-style: disc;
    margin-bottom: 1rem;
    margin-left: 8px;
    color: #444;
}